<html ng-app="myApp">
<head>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">

	<style type="text/css">
		.highlight {
			background-color: blue
		}

		.aged {
			font-family: 'Tahoma'
		}

		.even {
			background-color: blue
		}
	</style>
</head>
<body class="container">
	<div ng-controller="mainController">
		<h1 >
			{{greeting}}, 	{{companyName}} <sup>2</sup>
		</h1>

		<div>
			<input ng-model="greeting" />
		</div>

		<br/>
		<br/>
		<hr/>

		<div>
			Name:
			<input type="text" ng-model="newHotel.name"/>
			Location:
			<input type="text" ng-model="newHotel.location"/>
			Price:
			<input type="number" ng-model="newHotel.price"/>
			<button ng-click="addHotel()">Add</button>
			<span>{{newHotel}}</span>
		</div>

		<hr/>
		<hr/>

		<div>
			Search:
			<input type="text" ng-model="searchTerm"/>
			Order:
			<select ng-model="orderTerm">
				<option value="rating">Rating</option>
				<option value="location">Location</option>
				<option value="name">Name</option>
			</select>
			show:
			<input type="number" ng-model="maxItems"/>
		</div>

		<hr/>

		<br/>

		<div ng-repeat="hotel in hotels | filter : searchTerm | orderBy : orderTerm | limitTo : maxItems">
			<div class="row well well-sm">
				<div class="row col-md-12 col-sm-12">
					<h2 ng-class="{highlight : hotel.price>20000}">{{hotel.name | uppercase}}</h2>
				</div>
				<div class="row">
					<div class="col-md-1 hidden-sm">
						<div><button ng-click="upVote(hotel)" class="btn btn-success"><span class="glyphicon glyphicon-chevron-up"></span></button></div>
						<div><h3>{{hotel.rating}}</h3></div>
						<div><button ng-click="downVote(hotel)" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
					
					</div>
					<img ng-src="images/{{hotel.pic}}" class="col-md-3 col-sm-12" />
					<div class="col-md-3 hidden-sm">
						<h3>{{hotel.price | currency : 'INR '}}</h3>
					</div>
					<div class="col-md-4 hidden-sm">
						<div>
							<a ng-href="{{hotel.website}}">website</a>
						</div>
						<div  class="text-muted">
						<span ng-hide="hotel.showMore">{{hotel.description | lowercase | limitTo : 200}}</span>
						<span ng-show="hotel.showMore">{{hotel.description | lowercase }}</span>
						<span ng-show="hotel.description.length > 200 && !hotel.showMore">
							<a href="" ng-click="showMore(hotel)">...</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
	<script type="text/javascript" src="app.js"></script>
</html>